.BackgroundPromote {
    width: 100% ;
    height: auto;
  }
  
.ProductHome {
  position: relative;
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  outline: none;
  z-index: 200;
}

.circle-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e15050; /* Replace with your desired color */
  border: 1px;
  border-color: aliceblue;
  cursor: pointer;
}

.circle-button2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #5482b6; /* Replace with your desired color */
  border: 1px;
  border-color: aliceblue;
  cursor: pointer;
}